VITE_SUPABASE_URL=https://zbirculzvqtewenfdpik.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpiaXJjdWx6dnF0ZXdlbmZkcGlrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTA3ODAxMzksImV4cCI6MjEwNjM1NjEzOX0.oaOU2Gc3GceZoAcP7XvdoGpAPydvX6e16T-mqNYBOlI
